h1{
    font-weight: 700;
    font-size: 45px;
    margin: 15px;
    margin-bottom: 20px;
}

input{
    width: 95%;
}
.kg-row{
    margin: 10px 25px;
    
}
.kg-button{
    min-width: 80px;

} 

.kg-add{
    margin-right: 200px;
}

.kg-delete{
    margin-left: 400px;
}

